@use '../styles/helpers/functions' as fn;

.nav-bar {
  background-color: var(--mantine-color-white-0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: fn.scale-px(16);
  box-shadow: 0 fn.scale-px(2) fn.scale-px(4) fn.scale-px(-1) rgba(0, 0, 0, 0.1);
}

.nav-logo {
  width: fn.scale-px(157);
  height: fn.scale-px(40);
  // width: calc((157 / 1440) * 100vw);
  // height:  calc((40 / 1440) * 100vw);
}

.nav-btm-arr {
  width: fn.scale-px(16);
  height: fn.scale-px(16);
}

.nav-link-cont {
  padding: 0 fn.scale-px(8);
}

.nav-link {
  color: var(--mantine-color-black-0);
  // color: var(--mantine-color-wh-0);
  font-size: fn.scale-px(14);
  text-decoration: none;
  border-bottom: fn.scale-px(3) solid rgba(0, 0, 0, 0);
}

.nav-link-active {
  color: var(--mantine-color-black-0);
  font-size: fn.scale-px(14);
  text-decoration: none;
  font-weight: 600;
  border-bottom: fn.scale-px(3) solid var(--mantine-color-primaryLite-0);
}
