.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--mantine-color-white-0);
  color: var(--mantine-color-primary-0);
}

.not-found-title {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.not-found-message {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
