@use '@styles/helpers/functions' as fn;

.footer {
  background-color: var(--mantine-color-primary-0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: fn.scale-px(79) fn.scale-px(100) fn.scale-px(27) fn.scale-px(100);
}

.accordion-title {
  color: var(--mantine-color-white-0);
  font-size: fn.scale-px(48);
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  margin-bottom: fn.scale-px(64);
}

.accordion-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 fn.scale-px(105) 0 fn.scale-px(105);
  margin-bottom: fn.scale-px(64);
}

.accordion-item {
  margin-bottom: fn.scale-px(20);
  width: 100%;
  border: fn.scale-px(2) solid transparent;
  &[data-active='true'] {
    border-color: var(--mantine-color-primaryLite-0); // or any color you want
  }
}

.accordion-item-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: fn.scale-px(18);
  line-height: 120%;
  color: var(--mantine-color-white-0);
}

.accordion-item-active {
  border-width: fn.scale-px(2);
  border-color: var(--mantine-color-primaryLight-0);
}

.chevron {
  color: var(--mantine-color-white-0);
  &[data-rotate] {
    transform: rotate(180deg);
  }
}

.icon {
  width: fn.scale-px(16);
  height: fn.scale-px(16);
}

.newslater-cont {
  padding: fn.scale-px(40) fn.scale-px(270) fn.scale-px(40) fn.scale-px(270);
  background: linear-gradient(
    135deg,
    var(--mantine-color-primary-0),
    var(--mantine-color-primaryLite-0)
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: fn.scale-px(16);
  margin-bottom: fn.scale-px(24);
}

.newslater-cont-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: fn.scale-px(44);
  text-align: center;
  color: var(--mantine-color-white-0);
  margin-bottom: fn.scale-px(18);
}

.newslater-subc-cont {
  width: fn.scale-px(386);
}

.newslater-subc-title {
  font-size: fn.scale-px(18);
  line-height: fn.scale-px(28);
  color: var(--mantine-color-white-0);
  margin-bottom: fn.scale-px(16);
  text-align: center;
}

.subscribe-row {
  display: flex;
  justify-content: space-between;
  background-color: var(--mantine-color-white-0);
  border-radius: fn.scale-px(16);
  overflow: hidden;
  width: fn.scale-px(386);
  align-items: center;
  padding: fn.scale-px(7.5) fn.scale-px(8) fn.scale-px(7.5) fn.scale-px(20);
}

.subscribe-row-input {
  border: none;
  font-size: fn.scale-px(14);
  line-height: fn.scale-px(22);
  outline: none;
  vertical-align: middle;
  padding: 0px 0px;
  color: var(--mantine-color-grey-0);
  width: fn.scale-px(227);
}

.footer-menu-cont {
  padding-top: fn.scale-px(24);
  padding-bottom: fn.scale-px(24);
  margin-bottom: fn.scale-px(40);
}

.footer-logo {
  width: fn.scale-px(201);
  height: fn.scale-px(40);
  margin-bottom: fn.scale-px(16);
}
.footer-logo-para {
  font-size: fn.scale-px(16);
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.footer-menu-head {
  font-family: 'Manrope', sans-serif;
  font-size: fn.scale-px(20);
  font-weight: 700;
  line-height: 120%;
  color: var(--mantine-color-primaryExtraLight-0);
  margin-bottom: fn.scale-px(16);
}

.footer-menu-txt {
  font-family: 'Manrope', sans-serif;
  font-size: fn.scale-px(16);
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.footer-menu-txt:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-br {
  height: fn.scale-px(1);
  width: 100%;
  background-color: rgba(231, 231, 232, 0.452);
  margin-bottom: fn.scale-px(32);
}
.footer-end-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-end-left-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: fn.scale-px(24);
}

.footer-test {
  background-color: aqua;
}
