@use '../../styles/helpers/functions' as fn;

.sm-txt-1 {
  font-size: fn.scale-px(16);
  color: var(--mantine-color-white-0);
}
.sm-txt-2 {
  font-size: fn.scale-px(18);
  color: var(--mantine-color-white-0);
}

.big-txt-1 {
  // font-size: 64px;
  font-size: fn.scale-px(64);
  color: var(--mantine-color-white-0);
  /* font-weight: 600; */
  line-height: fn.scale-px(70.4);
}

.btn-cont {
  display: flex;
  margin-top: fn.scale-px(32);
  flex-direction: row;
  gap: fn.scale-px(10);
}

/* Carousel */

.indicator {
  width: fn.scale-px(16);
  height: fn.scale-px(4);
  transition: width 250ms ease;
  outline: fn.scale-px(2) solid var(--mantine-color-greyLite-0);
  outline-offset: fn.scale-px(-2);
  &[data-active] {
    width: fn.scale-px(48);
  }
}

.indicators {
  bottom: fn.scale-px(185) !important;
  display: flex;
  justify-content: flex-start;
  padding-inline: fn.scale-px(100);
}

.carousel-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-sec-1 {
  position: absolute;
  top: fn.scale-px(183);
  left: fn.scale-px(100);
  z-index: 10; /* or higher */
}

.btm-tabs-cont {
  margin-top: fn.scale-px(91);
  display: flex;
  flex-direction: row;
  gap: fn.scale-px(16);
}

.btm-tab-cont {
  /* width: 612px; */
  /* height: 126px; */
  border-radius: fn.scale-px(8);
  padding: fn.scale-px(16);
  border-width: fn.scale-px(1);
  background-color: var(--mantine-color-black-0) + '1A';

  /* background: rgba(255, 255, 255, 0.1);  */
  /* semi-transparent */
  backdrop-filter: blur(68.4000015258789px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
}

.btm-tab-title {
  color: var(--mantine-color-white-0);
  font-size: fn.scale-px(20);
  line-height: 120%;
}

.video {
  object-fit: fill;
  border-radius: 0 0 fn.scale-px(24) fn.scale-px(24);
}

.midCont {
  padding: fn.scale-px(100) fn.scale-px(100) 0 0;
}

.patner-cont {
  margin-top: fn.scale-px(90);
}
