@use '../../styles/helpers/functions' as fn;

.sm-txt-1 {
  font-size: 16px;
  color: var(--mantine-color-white-0);
}
.sm-txt-2 {
  font-size: 18px;
  color: var(--mantine-color-white-0);
}

.big-txt-1 {
  font-size: 64px;
  // font-size: fn.scale-px(64);
  color: var(--mantine-color-white-0);
  /* font-weight: 600; */
  line-height: 70.4px;
}

.btn-cont {
  display: flex;
  margin-top: 32px;
  flex-direction: row;
  gap: 10px;
}

/* Carousel */

.indicator {
  width: 16px;
  height: 4px;
  transition: width 250ms ease;
  outline: 2px solid var(--mantine-color-greyLite-0);
  outline-offset: -2px;
  &[data-active] {
    width: 48px;
  }
}

.indicators {
  bottom: 185px !important;
  display: flex;
  justify-content: flex-start;
  padding-inline: 100px;
}

.carousel-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-sec-1 {
  position: absolute;
  top: 183px;
  left: 100px;
  z-index: 10; /* or higher */
}

.btm-tabs-cont {
  margin-top: 91px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.btm-tab-cont {
  /* width: 612px; */
  /* height: 126px; */
  border-radius: 8px;
  padding: 16px;
  border-width: 1px;
  background-color: var(--mantine-color-black-0) + '1A';

  /* background: rgba(255, 255, 255, 0.1);  */
  /* semi-transparent */
  backdrop-filter: blur(68.4000015258789px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
}

.btm-tab-title {
  color: var(--mantine-color-white-0);
  font-size: 20px;
  line-height: 120%;
}

.video {
  object-fit: fill;
  border-radius: 0 0 24px 24px;
}

.midCont {
  padding: 100px 100px 0 0;
}

.patner-cont {
  margin-top: 90px;
}
