.indicator {
  width: 16px;
  height: 4px;
  transition: width 250ms ease;
  outline: 2px solid var(--mantine-color-greyLite-0);
  outline-offset: -2px;
  &[data-active] {
    width: 48px;
  }
}

.smTxt1 {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--mantine-color-white-0);
}

.indicators {
  display: flex;
  /* background-color: aquamarine; */
  justify-content: flex-start;
  padding-inline: 100px;
  /* outline: 2px solid #0dbafe; */
  /* outline-offset: -2px;  */
  /* background-color: aqua; */
  /* width: '20%'; */
}
